
<body class="user-homepage">

<div class="header-user">
<a href="/sessions/logout">Log Out</a>
<a href="/users/settings">Settings</a>
</div>

<h1>"Welcome to your Dashboard, <%= @user.name %>!"</h1>

<h3>Bank Balance: <%= @bank_balance %> </h3>

<div class="account-codes">
<% @account_codes.each do |account| %>
  <a href="/user/account/<%= account[:name] %>">
    <h3><%= account[:name] %>: (<%= account[:amount] %>)</h3>
  </a>
<% end %>
</div>
<h3><a href="/bankstatement">Reconcile Bank Statement</a></h3>

</body>